
.container
{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 200px 1fr;
    height: 1000px;
}

.header
{
    grid-column: 1/4;
    width: 100%;
    background-color: rgb(18, 32, 134);
    border-radius: 100px 0px 0px 100px;
    padding-bottom: 20px;
}
hr
{
    border: 1px solid blue;
    width: 800px;
    margin-top: 0px;
}
li
{
    margin: 0 0 15px 0;
}
.header_container
{
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.avatar
{
    flex-grow: 1;
}

.name
{
    flex-grow: 6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hometown
{
    flex-grow: 1;
}
.country
{

}


.left
{
    height: 100%;
}
.right
{
    height: 100%;
}
.content
{
    height: 100%;
    display: grid;
}


#edu
{
    display: grid;  
    grid-template-columns: 1fr 5fr 50fr;
    grid-template-rows: 80px 100px 100px;
    align-items: center;
    justify-items: flex-start;
    gap: 0;
}
.title
{
    margin-top: 20px;
    grid-column: 1/4;
    font-size:50px; margin-bottom:0px; font-weight:bold
}
#edu_tab
{
    grid-row:2/4;
}
#uni_img
{
    margin: 0;
}

.info
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;
}
._info
{
    font-weight: bold;
    font-size: 25px;    
}




.skill
{
    display: grid;
    align-items: center;
    justify-items: flex-start;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: auto auto auto auto;
}
#skill_title
{
    margin-top: 20px;
    grid-column: 1/3;
    font-size:50px; margin-bottom:0px; font-weight:bold;
}
#skill_tab
{
    grid-row: 2/5;
    background-color: lightblue;
}




.personal
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 20fr;
    justify-items: flex-start;
}
#personal_tab
{
    grid-row: 2/3;
}
#personal_title
{
    grid-column: 1/3;
    font-size:50px;
    margin-bottom:0px; 
    font-weight:bold;
    margin-top: 20px;
}

#experience
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 20fr;
    justify-items: flex-start;
}
#exp_title
{
    grid-column: 1/3;
    font-size:50px;
    margin-bottom:0px; 
    font-weight:bold;
    margin-top: 20px;
}
#exp_tab
{
    grid-row:2/3;
}



#contact
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 20fr;
    justify-items: flex-start;
}
#contact_title
{
    grid-column: 1/3;
    font-size:50px;
    margin-bottom:0px; 
    font-weight:bold;
    margin-top: 20px;
}
#con_tab
{
    grid-row:2/3
}