
.container
{
    position: absolute;
    z-index: 0;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 12vw 1fr;
    height: 100%;
}
/*
------------------------------------------------------------------------------------------
*/
.header
{
    grid-column: 1/4;
    width: 100%;
    background-color: rgb(18, 32, 134);
    border-radius: 6vw 0 0 6vw;
    padding-bottom: 1.2vw;
}
hr
{
    border: 1px solid blue;
    width: 48vw;
    margin-top: 0;
    size: 0.3vw;

}
a:link
{
    color: rgb(34, 92, 218);
}
li
{
    margin: 0 0 0.9vw 0;
}
ul li
{
    font-size: 1.3vw;
}
ol li a
{
    font-size: 1.3vw;
}
.header_container
{
    display: flex;
    height: 12vw;
}

.avatar
{
    flex-grow: 1;
}

.name
{
    flex-grow: 6;
    display: flex;
    align-items: center;
}
.hometown
{
    flex-grow: 1;
}
.left
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;

}

.content
{
    height: 100%;
    display: grid;
}


#edu
{
    display: grid;  
    grid-template-columns: 1fr 5fr 50fr;
    grid-template-rows: 4.8vw 6vw 6vw;
    align-items: center;
    justify-items: flex-start;
    gap: 0;
}
.title
{
    margin-top: 0.6vw;
    grid-column: 1/4;
    font-size:3vw; margin-bottom:0; font-weight:bold
}
#edu_tab
{
    grid-row:2/4;
}
#uni_img
{
    margin: 0;
}

.info
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
}
._info
{
    font-weight: bold;
    font-size: 1.5vw;    
}
._note
{
    font-size: 1vw;
}
#skill
{
    display: grid;
    align-items: center;
    justify-items: flex-start;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: auto auto auto auto;
}
#skill_title
{
    margin-top: 1.2vw;
    grid-column: 1/3;
    font-size:3vw; margin-bottom:0px; font-weight:bold;
}
#skill_tab
{
    grid-row: 2/5;
    background-color: lightblue;
}

#personal
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 20fr;
    justify-items: flex-start;
}
#personal_tab
{
    grid-row: 2/3;
}
#personal_title
{
    grid-column: 1/3;
    font-size:3vw;
    margin-bottom:0; 
    font-weight:bold;
    margin-top: 1.2vw;
}

#experience
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 20fr;
    justify-items: flex-start;
}
#exp_title
{
    grid-column: 1/3;
    font-size:3vw;
    margin-bottom:0; 
    font-weight:bold;
    margin-top: 1.2vw;
}
#exp_tab
{
    grid-row:2/3;
}

#contact
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 20fr;
    justify-items: flex-start;
}
#contact_title
{
    grid-column: 1/3;
    font-size:3vw;
    margin-bottom:0; 
    font-weight:bold;
    margin-top: 1.2vw;
}
#con_tab
{
    grid-row:2/3
}
/*
------------------------------------------------------------------------------------------------------------------------------
*/
.right
{
    display: grid;
    grid-template-rows: 3.3vw 47.7vw;
    grid-template-columns: 2.4vw auto;
}
#up-down
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#down-btn
{
    height: 3vw;
    width: 3vw;

    cursor: pointer;

    opacity: 0.2;
    transition: all ease 0.5s;

    position: relative;
    z-index: 0;
}
#down-btn:hover
{
    opacity: 1;
}
#up-btn
{
    height: 3vw;
    width: 3vw;

    cursor: pointer;
    opacity: 0.2;    
    transition: all ease 0.5s;

    position: relative;
    z-index: 0;
}
#up-btn:hover
{
    opacity: 1;
}

#highlight_picture
{
    font-weight:bold;
    font-size: 1.8vw;
    margin-top: 1.2vw;
    grid-column : 1/3;
    text-align: center;
}
#pictures
{
    display: flex;
    flex-direction: column;
    
    width: 6.6vw;
    margin-top: 0.6vw;
    margin-left: 0.6vw;

    grid-column: 2/3;
}
.picture
{
    border: solid 0.18vw blue;
    width: fit-content;
    background-color: blue;
    cursor: pointer;
    display: none;
}

#pic0_modal,#pic1_modal,#pic2_modal,#pic3_modal,#pic4_modal,#pic5_modal
{   
    display: none;
}
.modal
{
    position: fixed;    
    z-index: 2;

    padding-left: 15%;
    padding-top: 5%;
    
    width: 100%;
    height: 100%;

    background-color: rgba(32, 28, 28,0.9);
}
.modal_content
{
    display: flex;
    flex-direction: row;

    max-width: 1250px;
    max-height: 1250px;

    background-color:steelblue;
}   
.img_view
{
    max-width: 1000px;
    max-height: 1200px;

    margin: 5px;
}
.img_close
{
    float: right;

    position: fixed;
    top: 1vw;
    right: 2vw;

    cursor: pointer;
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
}
.img_note
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(234, 246, 237);
}
.img_prev, .img_next
{
    position: fixed;
    top: 50%;

    font-size: 30px;
    color: whitesmoke;

    cursor: pointer;
}
.img_prev
{
    left: 10%;
}
.img_next
{
    right: 12%;
}