body
{
    position: absolute;
    width: 100%;
    background-color:orange;
    margin: 0;
}
a:hover
{
    text-decoration: powderblue;
}
a:link
{
    text-decoration: none;
}
.header
{
    height: 200px;
    width: 100%;
    background-color: rgb(38, 58, 235);
    border-radius: 100px 0px 0px 100px;
    position: absolute;
}
.title 
{
    font-size: 35px;
    font-weight: bold;
}

#name
{
    font-size: 100px;
    font-family: cursive;
    top: 0px;
    left: 300px;
}
