.main_view
{
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 180px 1fr;

    margin: auto;
    margin-bottom: 10px;    
    margin-top: 10px;

    width: 98%;
    height: 2800px;

    border: 2px solid slateblue;
    border-radius: 20px;

    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.5);
}
hr
{
    margin: 0;
    size: 10px;
    color: chartreuse;  
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
}
ul
{
    list-style: none;
}
ul li
{
    margin-left: 60px;  
    padding: 5px;
    font-size: 1.5vw;
    font-family: 'Old Standard TT', serif;
}
a
{
    text-decoration: none;
}
ol li a
{
    font-size: 1.3vw;
}

/*
--------------------------------------HEADER COMPONENT-----------------------------------------------------------------------
*/
.header
{
    position: relative;
    z-index: 1;

    grid-column: 1/4;   
    
    border: none;
    border-bottom: 3px solid slateblue;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(228, 39, 203, 0.2);

    display: flex;/*flex-grow: 1 100 3 3;*/
    flex-direction: row;
}

/*----------avatar---------------*/
#h_avatar
{   
    align-self: center;
    margin-left: 5px;
    margin-right: 40px;

    transition: 1s;
}    
#h_avatar > img
{    
    width: 160px;   
    height: 160px;
}
#h_avatar:hover > img   
{
    transform: translate(-5px,-5px);
}
#h_avatar:hover
{
    border-radius: 80px;

    background-color:rgba(232, 149, 240, 0.52);
    box-shadow: 2px 2px 12px rgba(50, 56, 61, 0.39);
}

/*-----------name---------*/
#h_name
{
    margin-right: 20px;
    align-self: center;

    width: 70%;
}
#h_name > p
{
    font-size: 60px;
    font-weight: lighter;
    font-family: 'Old Standard TT', serif;

    text-shadow: .2px .2px 12px rgb(0, 0, 0, 0.2);

    user-select: none;
}

/*---------coconut tree ----------*/
#h_hometown
{
    position: relative; 
    right: 30px;

    width: 160px;
    height: 170px;

    perspective: 1000px;
}
#h_hometown_flipping
{
    position: relative; 
    align-self: center;

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: 1s;
}   
#h_hometown:hover > #h_hometown_flipping
{
    transform: rotateY(180deg);
}
#h_hometown_front,#h_hometown_back
{  
    position: absolute;
    top: 2.5px;

    height: 165px; 
    border: 2px solid rgba(136, 191, 228, 1);
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);

    backface-visibility: hidden;
}

#h_hometown_back
{
    width: 160px;
    padding-left: 5px;
    padding-right: 5px;
    
    border-radius: 15px;

    background-color: rgb(110, 241, 110);
    transform: rotateY(180deg);
    text-shadow: 0.2px 0.2px 12px rgba(118, 28, 236, 0.294);
    text-align: center;
}
#h_hometown_front > img
{
    width: 160px;
}

/*
-----------Viet Nam flag -------------
*/
#h_vnflag
{
    position: relative;

    width: 150px; /*have confuse with line with of #h_vnflag > img*/
    height: 110px; 

    margin-top: 3px;
    margin-right: 3px;

    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);

    background-color: red;

    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 1s;
}

#h_vnflag_front
{
    position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}   
#h_vnflag_back  
{
    position: absolute;

    width: 100%;
    height: 110px;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 20px;

    backface-visibility: hidden;
    transform: rotateY(180deg);

    background-color: rgba(136, 191, 228, 1);
    text-shadow: 0.2px 0.2px 12px rgba(118, 28, 236, 0.294);
    text-align: center;
}
#h_vnflag_front > img
{
    width: 150px;/*if don't set width for #h_vnflag: this width anything, width(h_vnflag) always bigger - it change amount as 
                    this width. May be, because of flex-grow effect?*/
    height: 110px;

    border-radius: 20px;    
}
#h_vnflag:hover
{
    transform: rotateY(180deg);
    background-color: rgba(136, 191, 228, 1);
}

/*--------------------------------------------LEFT COMPONENT ------------------------------------------------*/
.left
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;
}

#table_of_content
{
    position: fixed;
    z-index: 2;

    top: 30%;

    font-size: 40px; 
    font-family: 'Cookie', cursive;

    transition: 1s;
}
#table_of_content p
{
    user-select: none;
}

/*--------------------------------------- main component ------------------------------------------------------*/

/*-----------Education-----------*/

.m_component
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(19, 22, 61, 0.2);
}
.m_title
{
    margin-bottom: 50px;
    font-size: 40px;
    
    text-shadow: 0.1px 0.1px 12px rgba(19, 101, 177, 0.1);
    color: rgb(56, 29, 90);
}

.me_edu
{
    display: flex;
    flex-direction: row;

    margin-left: 50px;
    margin-bottom: 50px;
}

.me_img > a > img
{
    margin-right: 50px;

    height:3.6vw; 
    width:3.6vw;
}
.me_info > p
{
    margin: 0;
    padding: 0;

    font-size: 30px;
    font-family: 'Old Standard TT', serif;

    text-shadow: .2px .2px 12px rgba(59, 118, 228, 0.15);
}
.me_info > pre
{
    margin: 5px;
    padding: 0;

    font-family: 'Old Standard TT', serif;
}

/*---------------Skill ------------------------*/       

#m_skill_basic > p, #m_skill_ml > p, #m_skill_web > p, #m_skill_soft > p
{
    margin: 15px 0 10px 40px;
    font-size: 30px;
}
#m_skill_basic,#m_skill_web
{
    border-radius: 20px;
    background-color: rgb(199, 230, 238);
}
#m_skill_basic>div
{
    display: flex;
    flex-direction: row;
}

#m_skill_basic_img
{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: flex-end;

    width: 300px;
}

#m_skill_basic_img>img
{
    width: 60px;
    height: 60px;
}
#m_project>ul
{
    display: flex;
    flex-direction: row;
}
#m_project ul p
{
    width: 250px;   

    font-size: 25px;
}
iframe
{
    margin-left: 20px;
    border-radius: 20px;
}
#m_all_contact ul li img
{
    margin-right: 20px;
    width: 40px;
    height: 40px;
}
/*-------------------------------RIGHT COMPONENT-------------------------------------------*/
.right
{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    margin-right: 20px;
}

/*----------- slideshow pictures -----------------*/

#r_highlight_picture
{
    align-self: center;
    margin-top: 200px;
    padding-bottom: 5px;

    border: 2px solid rgb(15, 59, 202);
    border-radius: 10px ;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
}
#r_highlight_picture:hover #rhp_up_btn
{
    display: flex;
}
#r_highlight_picture:hover #rhp_down_btn
{
    display: flex;
}

#rhp_title
{
    text-align: center;

    font-size: 50px;
    font-family: 'Cookie', cursive;

    text-shadow: .2px .2px 12px rgb(0, 0, 0, 0.2);
}
#pictures
{
    position: relative;

    display: flex;
    flex-direction: column; 
    align-self: center;

}
#pictures > a
{
    display: none;

    margin: 5px;
    padding: 5px;

    border: 2px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(184, 113, 250, 0.575);

    cursor: pointer;
}
#pictures > a > img
{
    max-width: 400px;   
    max-height: 400px;

    min-width: 350px;
    min-height: 300px;
}   
#rhp_up_btn, #rhp_down_btn
{   
    position: absolute;

    display: flex;
    align-items: center;    
    justify-content: center;

    margin: 5px;
    padding: 5px;

    height: 50px;       
    width: 405px;

    border: 2px;
    border-radius: 5px;
    background-color: rgba(171, 59, 235, 0.65) ;

    cursor: pointer;

    display: none;
}
#rhp_up_btn>a>img, #rhp_down_btn>a>img  
{
    width: 50px;
    height: 50px;
}
#rhp_up_btn 
{
    top: 0;
}
#rhp_down_btn
{
    bottom: 0;
}
/*-----------form------------*/

#r_comment_form
{
    margin-top: 20px;
    padding-top: 10px;
}

form
{
    display: flex;
    flex-direction: column;
}
input
{
    padding: 5px;

    border: none;
    border-bottom: 2px rgb(179, 199, 241) solid;

    outline: none;

    font-size: 20px;
}

#r_comment
{
    display: flex;
    flex-direction: column;

    width: 90%;

    margin: auto;
    padding-bottom: 10px;

    border: royalblue solid 2px;
    border-radius: 5%;
    /*          right bottom blur color*/
    box-shadow: 0.3px 2px 12px rgb(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
}
#rc_title
{   
    font-size: 40px;
    font-family: 'Cookie', cursive;

    text-align: center;

    text-shadow: 0.2px 0.2px 5px rgba(228, 125, 223, 0.3);

    user-select: none;
}

.rc_info_input
{
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
}
.rc_label_form 
{   
    margin-left: 5%;

    font-size: 30px;
    text-shadow: 0.2px 0.2px 15px rgba(74, 184, 248, 0.2);
    font-family: 'Cookie', cursive;

    user-select: none;
}
#rc_guess_name, #rc_guess_email
{
    margin-left: 10%;

    width: 65%;
    height: 25px;

    font-size: 20px;
}   
#rc_guess_ideas
{
    margin: auto;   
    padding: 5px;

    width: 94%;
    height: 200px;  
    
    border: rgba(18, 191, 243, 0.5) double 3px;
    border-radius: 13px;
    outline: none;

    font-size: 25px;
    font-family: 'Old Standard TT', serif;
}
#rc_submit_form
{
    margin: auto;

    width: 60%;

    font-size: 20px;

    box-shadow: 0.3px 0.3px 12px rgb(0,0,0,0.2);
    border-radius: 18px;

    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

    cursor: pointer;
    transition: 0.5s;
}
#rc_submit_form:hover
{
    color: whitesmoke;
}
.rc_alert
{
    height: 30px;
    width: 35px;

    display: none;
}

.rc_content_input
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 10px;
    height: 20px;
}
#rc_alert_content_img,#rc_alert_content_text
{
    margin-top: 0;
    color: rgb(243, 104, 39);

    display: none;
    user-select: none;
}

/*-----------------------------------------PICTURE VIEW -------------------------------------------*/   
#picture_view
{
    
}
#pic0_modal,#pic1_modal,#pic2_modal,#pic3_modal,#pic4_modal,#pic5_modal
{   
    display: none;
}
.modal
{
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(32, 28, 28, 0.9); 
}
.modal_content
{   
    display: flex;  
    flex-direction: row;    
    align-items: center;
    justify-content: center;

    max-width: 1650px;
    max-height: 960px;
}

.view_content
{
    display: flex;
    flex-direction: row;    

    max-width: 1450px;
    max-height: 1250px;

    background-color:steelblue;
}   

.img_view
{
    margin: 10px;

    max-width: 60vw;
    max-height: 72vw;

    min-width: 192px;
    min-height: 108px;

    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0, 0.2);
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
}
.img_close
{
    float: right;

    position: fixed;
    top: 1vw;
    right: 2vw;

    cursor: pointer;
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
}
.img_close:hover
{
    color: red;
}
.hc_note
{
    background-color: whitesmoke;
    text-align: center;
    margin: 10px 10px 10px 0;

    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0, 0.2);
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.5);
}
.img_note
{
    font-size: 30px;
    color:black;
    width: 20vw;
}
.img_prev, .img_next
{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;    
    height: 120px;
    width: 60px;
    color: whitesmoke;
    border-radius: 40px 40px 40px 40px;

    cursor: pointer;
}
.img_next
{
    margin-left: 30px;
}
.img_prev
{
    margin-right: 30px;
}
.img_next:hover, .img_prev:hover
{
    background-color: rgb(117, 106, 98);
}
/*